<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="TelemetryInstrumentationKey_Debug" value="12939da5-1380-4811-82d1-b832aa00715d"/>
    <add key="TelemetryInstrumentationKey_Release" value="c352b7e9-a01b-4431-bfdf-3f7187a8a090"/>
  </appSettings>
</configuration>
