<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="TelemetryInstrumentationKey_Debug" value="80a368bb-f285-46eb-bb20-3e424593ec56"/>
    <add key="TelemetryInstrumentationKey_Release" value="80a368bb-f285-46eb-bb20-3e424593ec56"/>
  </appSettings>
</configuration>