image: Visual Studio 2017

init:
  - git config --global core.autocrlf true

branches:
  only:
    - master
    - sarif-v2

before_build:
  - '"%ProgramFiles(x86)%\Microsoft Visual Studio\2017\Community\Common7\Tools\VsDevCmd.bat"'
  - BeforeBuild.cmd

platform: Any CPU

environment:
  _CL_: /c /analyze /analyze:quiet- /W4 /analyze:autolog:ext prefast.sarif

install:
  - ps: .\dotnet-install.ps1 --version 2.0.0

configuration:
  - Release

build:
  project: src/Everything.sln

after_build:
  - ps: .\appveyor\Push-PrefastResultsToAppveyor.ps1
  - cmd: RunTests.cmd /config Release /appveyor

test: off

notifications:
  - provider: Email
    to:
     - vsarcplat@microsoft.com
    subject: '{{projectName}} Build {{status}}: Version: {{buildVersion}}'
    on_build_status_changed: true

cache:
  - packages -> **\packages.config
  - '%LocalAppData%\NuGet\Cache'
