init:
  - git config --global core.autocrlf true

branches:
  only:
    - master

before_build:
  - '"%VS140COMNTOOLS%VsDevCmd.bat"'
  - BeforeBuild.cmd

platform: Any CPU

environment:
  _CL_: /c /analyze /analyze:quiet- /W4 /analyze:autolog:ext prefast.sarif

configuration:
#  - Debug
  - Release

build:
  project: src/Everything.sln

after_build:
  - ps: .\appveyor\Push-PrefastResultsToAppveyor.ps1

test:
  assemblies:
    - '**\Sarif.UnitTests.dll'
    - '**\Sarif.Driver.UnitTests.dll'
    - '**\Sarif.FunctionalTests.dll'
    - '**\Sarif.ValidationTests.dll'
    - '**\Sarif.Viewer.VisualStudio.UnitTests.dll'
    - '**\Microsoft.CodeAnalysis.SarifCli.FunctionalTests.dll'

notifications:
  - provider: Email
    to:
     - vsarcplat@microsoft.com
    subject: '{{projectName}} Build {{status}}: Version: {{buildVersion}}'
    on_build_status_changed: true

cache:
  - packages -> **\packages.config
  - '%LocalAppData%\NuGet\Cache'
