image: Visual Studio 2017

init:
  - git config --global core.autocrlf true

branches:
  only:
    - master
    - develop
    - tc-31
    - sarif-v1

platform: Any CPU

install:
  - ps: .\dotnet-install.ps1 --version 2.1.10

configuration:
  - Release

build_script:
  - ps: .\scripts\BuildAndTest.ps1 -NoTest -NoPackage -NoPublish -NoSigningDirectory -Configuration Release

after_build:
  - ps: .\scripts\Run-Tests.ps1 -Configuration Release -AppVeyor

test: off

cache:
  - packages -> **\packages.config
  - '%LocalAppData%\NuGet\Cache'
