<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Internal" value="https://pkgs.dev.azure.com/mseng/_packaging/cacb7d42-9ec0-76de-aa3c-cce96f9e068a/nuget/v3/index.json" />
  </packageSources>
  <config>
    <add key="globalPackagesFolder" value="./packages" />
    <add key="repositoryPath" value="./packages" />
  </config>
</configuration>